a:focus {outline: none;}
#panel {	/*background: #754c24;display: none;*/width:950px;margin:0 auto}
/*.slide {margin:0;padding: 0;position: absolute;right: -26px;top: 51px !important;width: 26px;}*/
.slide{}
.btn-slide {
	background: url(../../images/notification/white-arrow.png) no-repeat right -50px;
	display: block;
    font: bold 120%/100% Arial,Helvetica,sans-serif;
    height: 31px;
    margin-top: 5px;
    padding: 10px 10px 0 0;
    position: absolute;
    right: -27px;
    text-align: center;
    text-decoration: none;
    width: 16px;
}
.active {background-position: right 12px;margin-top:-34px}
.feedback{left:0;bottom:0;margin:0px auto;width:950px;position:relative;}
#feedback_button_close{position:absolute; right:-36px;margin-top:-18px;padding:0px;cursor:pointer}
#feedback_button{position:absolute; right:-42px;/*margin-right:14.2%;*/padding:5px;cursor:pointer}
.feedback .form{	clear:both;	background:#fff;padding:15px;}
.feedback .status{font-size:16px;}
.notificationMain{width:100%;height:190px;margin-top:10px}
.notificationMainUl{text-align:center;width}
.notificationMainUl li{float:left;;width:16%;margin:0px 3px}
.notificationMainUl li .cat_img{}
.notificationMainUl li .cat_img img{display:block; margin:0 auto;}
.notificationMainUl li .catbutton{margin-bottom:7px;margin-top:7px}

.productName{color:#1E7EC8;text-decoration:underline;}
.dealCategoryName{color: #C1781B;font-size: 25px;text-align: left;padding:0px 0px 0px 25px}
.notificationMassage{padding: 15px 0px 15px 0;}
.mainPanel{margin: 0 auto;position: relative;width: 950px;}


